<div class="title" role="group">
  <a class="nav-link text-white dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Pgame
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link list_item' %>
      <a href="/users/<%= current_user.id %>" class='nav-link list_item'>マイページ</a>
      <div class="form-inline">
        <%= form_tag('/prefectures', method: :get) do %>
          <input class="search__query" name="keyword" placeholder="都道府県で検索" type="text" value=""><button class="btn btn-outline-success my-2 my-sm-0" title="検索" type="submit">検索</button></input>
        <% end %>
      </div>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'nav-link list_item' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'nav-link list_item' %>
    <% end %>
</div>
</div>
