%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} Pgame
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if user_signed_in?
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link'
        %li.nav-item
          %a.nav-link{:href => "/users/#{current_user.id}"} マイページ
        %li.nav-item
          = link_to 'マッチング済み', matching_index_path, class: "nav-link"
    - else
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => "/users/sign_up"} 新規登録
        %li.nav-item
          = link_to "ログイン", new_user_session_path, class: 'nav-link disabled'
    - if user_signed_in?
      = form_tag('/prefectures', method: :get) do
        %input.search__query{:name => "keyword", :placeholder => "都道府県で検索", :type => "text", :value => ""}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:title => "検索", :type => "submit"} 検索
