<%= render partial: 'navbar' %>
<% @user.followers.each do |user| %>
  <div class="card mx-auto" style="width: 20rem;">
  <% if user.avatar .attached? %>
    <%= image_tag user.avatar, :size => '200x200', class: 'maru' %>
  <% else %>
    <%= image_tag 'noimage.png', class: 'maru' %>
  <% end %>
  <div class="card-body text-center">
    <h5 class="card-title"><%= user.nickname %></h5>
    <p class="card-text">チーム名・学校名: <%= user.team %><p>
    <p class="card-text">都道府県: <%= user.prefecture.name if user.prefecture_id? %><p>
  </div>
  <div class="card-footer text-center">
    <%= link_to '詳細', user_path(user), class: "btn btn-primary" %>
  </div>
</div>
<% end %>
