<%= render partial: 'navbar' %>
<div class="card" style="width: 20rem;">
  <% if @user.avatar .attached? %>
    <%= image_tag @user.avatar, class: 'maru' %>
  <% else %>
    <%= image_tag 'noimage.png', class: 'maru' %>
  <% end %>
  <div class="card-body text-center">
    <h5 class="card-title"><%= @user.nickname %></h5>
    <p class="card-text">チーム名・学校名: <%= @user.team %><p>
    <p class="card-text">都道府県: <%= @user.prefecture.name if @user.prefecture_id? %><p>
    <%= render 'follow_form' %>
    <%= render 'stats' %>
    <% if current_user.id == @user.id %>
      <%= link_to '編集', edit_user_registration_path, class: 'nav-link btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="card">
  <% if @detail %>
    <div class="card-body">
      <h5 class="card-title">自己紹介</h5>
      <p class="card-text"><%= @detail.text1 %></p>
      <h5 class="card-title">今までの成績</h5>
      <p class="card-text"><%= @detail.text2 %></p>
      <h5 class="card-title">昨年度の成績</h5>
      <p class="card-text"><%= @detail.text3 %></p>
      <h5 class="card-title">今年度の成績</h5>
      <p class="card-text"><%= @detail.text4 %></p>
      <% if current_user.id == @user.id %>
        <a href="/users/<%= @user.id %>/details/<%= @detail.id %>/edit" class="btn btn-primary">編集</a>
      <% end %>
    </div>
  <% else %>
    <div class="card-body">
      <h5 class="card-title">自己紹介</h5>
      <p class="card-text">記入してください</p>
      <h5 class="card-title">今までの成績</h5>
      <p class="card-text">記入してください</p>
      <h5 class="card-title">昨年度の成績</h5>
      <p class="card-text">記入してください</p>
      <h5 class="card-title">今年度の成績</h5>
      <p class="card-text">記入してください</p>
      <% if current_user.id == @user.id %>
        <a href="/users/<%= @user.id %>/details/new" class="btn btn-primary">編集</a>
      <% end %>
    </div>
  <% end %>
</div>

