<%= render partial: 'navbar' %>
<div class="card" style="width: 18rem;">
  <% if @user.avatar .attached? %>
    <%= image_tag @user.avatar, :size => '200x200', class: 'maru' %>
  <% else %>
    <img src="https://myoji-yurai.net/profileImages/noimage.png" alt="画像はありません" width="200" height="200" class="maru">
  <% end %>
  <div class="card-body text-center">
    <h5 class="card-title"><%= @user.nickname %></h5>
    <p class="card-text">チーム名・学校名: <%= @user.team %><p>
    <p class="card-text">都道府県: <%= @user.prefecture.name if @user.prefecture_id? %><p>
    <%= render 'follow_form' %>
    <%= render 'stats' %>
    <% if current_user.id == @user.id %>
      <%= link_to '編集', edit_user_registration_path, class: 'nav-link btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="card" style="width:95%;">
  <% if @detail %>
    <div class="card-body">
      <h5 class="card-title">自己紹介</h5>
      <p class="card-text"><%= @detail.text1 %></p>
      <h5 class="card-title">今までの成績</h5>
      <p class="card-text"><%= @detail.text2 %></p>
      <h5 class="card-title">昨年度の成績</h5>
      <p class="card-text"><%= @detail.text3 %></p>
      <h5 class="card-title">今年度の成績</h5>
      <p class="card-text"><%= @detail.text4 %></p>
      <% if current_user.id == @user.id %>
        <a href="/users/<%= @user.id %>/details/<%= @detail.id %>/edit" class="btn btn-primary">編集</a>
      <% end %>
    </div>
  <% else %>
    <div class="card-body">
      <h5 class="card-title">自己紹介</h5>
      <p class="card-text">記入してください</p>
      <h5 class="card-title">今までの成績</h5>
      <p class="card-text">記入してください</p>
      <h5 class="card-title">昨年度の成績</h5>
      <p class="card-text">記入してください</p>
      <h5 class="card-title">今年度の成績</h5>
      <p class="card-text">記入してください</p>
      <% if current_user.id == @user.id %>
        <a href="/users/<%= @user.id %>/details/new" class="btn btn-primary">編集</a>
      <% end %>
    </div>
  <% end %>
</div>
<% if current_user.id == @user.id %>
<h5 class="card-title text-center">マッチング済み</h5>
<div class="card-deck">
<% @users.each do |user| %>
  <div class="card" style="width: 18rem;">
  <% if user.avatar .attached? %>
    <%= image_tag user.avatar, :size => '200x200', class: 'maru' %>
  <% else %>
    <img src="https://myoji-yurai.net/profileImages/noimage.png" alt="画像はありません" width="200" height="200" class="maru">
  <% end %>
  <div class="card-body text-center">
    <h5 class="card-title"><%= user.name %>(<%= user.gender %>バス)</h5>
    <p class="card-text">チーム名・学校名: <%= user.team %><p>
    <p class="card-text">都道府県: <%= user.prefecture.name %><p>
  </div>
  <div class="card-footer text-center">
    <%= link_to '詳細', user_path(user), class: "btn btn-primary" %>
    <%= link_to 'DM', room_path(user), class: "btn btn-primary" %>
  </div>
</div>
<% end %>
</div>
<%= paginate(@users) %>
<% end %>
