= render partial: 'users/navbar'
- @users.each do |user|
  .card.mx-auto{:style => "width: 20rem;"}
    - if user.avatar .attached?
      = image_tag user.avatar, class: 'maru'
    - else
      = image_tag 'noimage.png', class: 'maru'
    .card-body.text-center
      %h5.card-title= user.name
      - if user.gender == "男"
        %p.card-text
          = user.team
          %i.fas.fa-male.male
        %p
      - else
        %p.card-text
          = user.team
          %i.fas.fa-female.female
        %p
      %p.card-text= user.prefecture.name
      %p
    .card-footer.text-center
      = link_to '詳細', user_path(user), class: "btn btn-primary"
      = form_tag :chat_index, method: :post, class: "dm" do
        %input{:name => "user_id", :type => "hidden", :value => "#{user.id}"}/
        = submit_tag 'DM', class: "btn btn-primary"
