<%= render partial: 'users/navbar' %>
<div class="contents">
    <%= form_for(@detail, url: "/users/#{@user.id}/details/#{@detail.id}", method: :patch) do |f| %>
      <div style="margin: 30px 0">
    <p>自己紹介</p>
    <%= f.text_area :text1, placeholder: '書いてね', style: 'width: 80%;height: 100px;' %>
  </div>
  <div style="margin: 30px 0">
    <p>今までの成績</p>
    <%= f.text_area :text2, placeholder: '書いてね', style: 'width: 80%;height: 100px;' %>
  </div>
  <div style="margin: 30px 0">
    <p>昨年度の成績</p>
    <%= f.text_area :text3, placeholder: '書いてね', style: 'width: 80%;height: 100px;' %>
  </div>
  <div style="margin: 30px 0">
    <p>今年度の成績</p>
    <%= f.text_area :text4, placeholder: '書いてね', style: 'width: 80%;height: 100px;' %>
  </div>
  <div>
    <%= button_tag type: "submit", class: "nav-link btn btn-primary" do %>
      変更する
    <% end %>
  </div>
    <% end %>
</div>
